{
  "openapi": "3.1.0",
  "info": {
    "title": "Fantasy Futbol External API",
    "description": "REST API for the fantasy-futbol external API module.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.api.fantasyfutbol.app/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Users"
    },
    {
      "name": "Fantasy League"
    },
    {
      "name": "Mini League"
    },
    {
      "name": "Players"
    },
    {
      "name": "Squads"
    },
    {
      "name": "Points"
    },
    {
      "name": "Prices"
    },
    {
      "name": "Auto Substitution"
    }
  ],
  "paths": {
    "/auth/account": {
      "get": {
        "summary": "Get account",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Account retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "summary": "Create account",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/auth/signup/verify-account": {
      "get": {
        "summary": "Verify account",
        "tags": [
          "Auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification status page",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/user": {
      "get": {
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create users",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUsersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/fantasy-league": {
      "get": {
        "summary": "List fantasy leagues",
        "tags": [
          "Fantasy League"
        ],
        "responses": {
          "200": {
            "description": "Fantasy leagues retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FantasyLeagueListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create fantasy league",
        "tags": [
          "Fantasy League"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFantasyLeagueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fantasy league created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FantasyLeagueGroupResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update fantasy league",
        "tags": [
          "Fantasy League"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFantasyLeagueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fantasy league updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FantasyLeagueGroupResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/fantasy-league/{id}": {
      "get": {
        "summary": "Get fantasy league",
        "tags": [
          "Fantasy League"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fantasy league retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FantasyLeagueResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/fantasy-league/{id}/gameweeks": {
      "get": {
        "summary": "Get fantasy league gameweeks",
        "tags": [
          "Fantasy League"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gameweeks retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameWeekListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/fantasy-league/{id}/clubs": {
      "get": {
        "summary": "Get fantasy league clubs",
        "tags": [
          "Fantasy League"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clubs retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClubListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/fantasy-league/{id}/fixtures": {
      "get": {
        "summary": "Get fantasy league fixtures",
        "tags": [
          "Fantasy League"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "game_week_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fixtures retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixtureListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/mini-league": {
      "get": {
        "summary": "List mini leagues",
        "tags": [
          "Mini League"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "fantasy_league_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mini leagues retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedMiniLeagueResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create mini league",
        "tags": [
          "Mini League"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMiniLeagueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mini league created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MiniLeagueResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/mini-league/{id}": {
      "get": {
        "summary": "Get mini league",
        "tags": [
          "Mini League"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mini league retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MiniLeagueResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/player": {
      "get": {
        "summary": "List players",
        "tags": [
          "Players"
        ],
        "parameters": [
          {
            "name": "fantasy_league_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "points",
                "price",
                "ppg",
                "form",
                "ownership",
                "transferIns",
                "transferOuts"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player list retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPlayerResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/player/{id}": {
      "get": {
        "summary": "Get player",
        "tags": [
          "Players"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "fantasy_league_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/player/{id}/fixtures": {
      "get": {
        "summary": "Get player fixtures",
        "tags": [
          "Players"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "fantasy_league_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player fixtures retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerFixturesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/points/events": {
      "get": {
        "summary": "Get fixture point events",
        "tags": [
          "Points"
        ],
        "parameters": [
          {
            "name": "fantasy_league_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "fixture_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fixture point events retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsEventResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/points/config": {
      "post": {
        "summary": "Upload points config",
        "tags": [
          "Points"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PointsConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Points config uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsConfigResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/points/config/{id}": {
      "get": {
        "summary": "Get points config",
        "tags": [
          "Points"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Points config retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsConfigResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/price": {
      "get": {
        "summary": "List player price uploads",
        "tags": [
          "Prices"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player prices retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPriceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Upload player prices",
        "tags": [
          "Prices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriceUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Player prices uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceUploadResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/squad": {
      "get": {
        "summary": "List squads",
        "tags": [
          "Squads"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "fantasy_league_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Squads retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSquadResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create squad",
        "tags": [
          "Squads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSquadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Squad created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SquadSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/squad/{id}": {
      "get": {
        "summary": "Get squad",
        "tags": [
          "Squads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Squad retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SquadResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/squad/{id}/lineup": {
      "get": {
        "summary": "Get squad lineup",
        "tags": [
          "Squads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "game_week_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Squad lineup retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SquadLineupResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/auto-substitution": {
      "get": {
        "summary": "List auto substitution events",
        "tags": [
          "Auto Substitution"
        ],
        "parameters": [
          {
            "name": "fantasy_league_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auto substitution events retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAutoSubstitutionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Process auto substitutions",
        "tags": [
          "Auto Substitution"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoSubstitutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto substitutions processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoSubstitutionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "409": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": ["string", "null"]
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "integer"
              },
              "details": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          },
          "message": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "Paging": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_total": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "current": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "page",
          "page_total",
          "per_page",
          "current",
          "total"
        ]
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "message"
        ]
      },
      "AccountConfig": {
        "type": "object",
        "properties": {
          "rate_limit": {
            "type": "object",
            "properties": {
              "per_minute": {
                "$ref": "#/components/schemas/RateLimitWindow"
              },
              "per_day": {
                "$ref": "#/components/schemas/RateLimitWindow"
              }
            },
            "required": [
              "per_minute",
              "per_day"
            ]
          },
          "pricing": {
            "$ref": "#/components/schemas/TierPricing"
          },
          "features": {
            "type": "object",
            "properties": {
              "fantasy_leagues": {
                "$ref": "#/components/schemas/TierFeatureUsage"
              },
              "mini_leagues": {
                "$ref": "#/components/schemas/TierFeatureUsage"
              },
              "squads": {
                "$ref": "#/components/schemas/TierFeatureUsage"
              },
              "contests": {
                "$ref": "#/components/schemas/TierFeatureUsage"
              },
              "users": {
                "$ref": "#/components/schemas/TierFeatureUsage"
              }
            },
            "required": [
              "fantasy_leagues",
              "mini_leagues",
              "squads",
              "contests",
              "users"
            ]
          }
        },
        "required": [
          "rate_limit",
          "pricing",
          "features"
        ]
      },
      "RateLimitWindow": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "window": {
            "type": "string",
            "enum": [
              "minute",
              "day"
            ]
          },
          "used": {
            "type": "integer"
          },
          "remaining": {
            "type": "integer"
          },
          "reset_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "limit",
          "window"
        ]
      },
      "TierPricing": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "per_month": {
            "type": "number",
            "minimum": 0
          },
          "per_year": {
            "type": "number",
            "minimum": 0
          }
        },
        "required": [
          "currency",
          "per_month",
          "per_year"
        ]
      },
      "TierFeatureUsage": {
        "type": "object",
        "properties": {
          "max": {
            "type": "integer",
            "minimum": 0
          },
          "used": {
            "type": "integer",
            "minimum": 0
          },
          "remaining": {
            "type": "integer",
            "minimum": 0
          },
          "state": {
            "type": "string",
            "enum": [
              "ok",
              "at_limit",
              "over_limit"
            ]
          },
          "is_blocked": {
            "type": "boolean"
          }
        },
        "required": [
          "max"
        ]
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "developer",
              "professional"
            ]
          },
          "is_active": {
            "type": "boolean"
          },
          "api_key_active": {
            "type": "boolean"
          },
          "config": {
            "$ref": "#/components/schemas/AccountConfig"
          }
        },
        "required": [
          "id",
          "tier",
          "is_active",
          "api_key_active",
          "config"
        ]
      },
      "AccountResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/Account"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "IntegrationAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "auth_id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "company_name": {
            "type": ["string", "null"]
          },
          "tier": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "IntegrationAccountResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/IntegrationAccount"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string",
            "minLength": 1
          },
          "last_name": {
            "type": "string",
            "minLength": 1
          },
          "company_name": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "minLength": 8
          }
        },
        "required": [
          "email",
          "first_name",
          "last_name",
          "password"
        ]
      },
      "CreateUsersRequest": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "external_id": {
                  "type": "string",
                  "minLength": 1
                },
                "display_name": {
                  "type": "string",
                  "maxLength": 50
                }
              },
              "required": [
                "external_id"
              ]
            }
          }
        },
        "required": [
          "users"
        ]
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "display_name": {
            "type": "string",
            "maxLength": 50
          },
          "is_active": {
            "type": "boolean"
          }
        },
        "required": [
          "id"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "type": "integer"
          },
          "external_id": {
            "type": "string"
          },
          "display_name": {
            "type": ["string", "null"]
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "user_id",
          "external_id",
          "is_active"
        ]
      },
      "UserResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/User"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "UsersResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "PaginatedUserResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "paging": {
                "$ref": "#/components/schemas/Paging"
              }
            },
            "required": [
              "data",
              "paging"
            ]
          }
        ]
      },
      "League": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "country": {
            "type": "string"
          },
          "continent": {
            "type": "string"
          },
          "season": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "GameWeek": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "week": {
            "type": ["string", "integer"]
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "week",
          "start_date",
          "end_date"
        ]
      },
      "FantasyLeague": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "logo_url": {
            "type": ["string", "null"]
          },
          "leagues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/League"
            }
          },
          "squad_config": {
            "type": "object",
            "additionalProperties": true
          },
          "points_config": {
            "type": "object",
            "additionalProperties": true
          },
          "current_game_week": {
            "$ref": "#/components/schemas/GameWeek"
          },
          "next_game_week": {
            "$ref": "#/components/schemas/GameWeek"
          }
        },
        "additionalProperties": true
      },
      "FantasyLeagueGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "created_by": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "logo_url": {
            "type": ["string", "null"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "FantasyLeagueResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/FantasyLeague"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "FantasyLeagueListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FantasyLeague"
                }
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "FantasyLeagueGroupResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/FantasyLeagueGroup"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "CreateFantasyLeagueRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "league_id": {
            "type": "integer",
            "minimum": 1
          }
        },
        "required": [
          "name",
          "league_id"
        ]
      },
      "UpdateFantasyLeagueRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 1
          },
          "name": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "logo_url": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "GameWeekListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GameWeek"
                }
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "Club": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "abbrevation": {
            "type": "string"
          },
          "stadium": {
            "type": ["string", "null"]
          },
          "logo_url": {
            "type": ["string", "null"]
          }
        },
        "required": [
          "id",
          "name",
          "abbrevation"
        ]
      },
      "ClubListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Club"
                }
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "Fixture": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "goals": {
            "type": "object",
            "properties": {
              "away": {
                "type": ["integer", "null"]
              },
              "home": {
                "type": ["integer", "null"]
              }
            }
          },
          "teams": {
            "type": "object",
            "properties": {
              "away": {
                "$ref": "#/components/schemas/FixtureTeam"
              },
              "home": {
                "$ref": "#/components/schemas/FixtureTeam"
              }
            }
          },
          "status": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "fixture_url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "goals",
          "teams",
          "status",
          "start_date"
        ]
      },
      "FixtureTeam": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "abbrevation": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "abbrevation"
        ]
      },
      "FixtureListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GameWeekFixtures"
                }
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "GameWeekFixtures": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "week": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "fixtures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fixture"
            }
          }
        },
        "required": [
          "id",
          "week",
          "start_date",
          "end_date",
          "fixtures"
        ]
      },
      "MiniLeague": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rank_system": {
            "type": "string"
          },
          "total_squads": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "is_open": {
            "type": "boolean"
          },
          "is_active": {
            "type": "boolean"
          },
          "start_game_week": {
            "$ref": "#/components/schemas/GameWeek"
          },
          "fantasy_league": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "rank_updated_at": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "style": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "MiniLeagueResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/MiniLeague"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "PaginatedMiniLeagueResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MiniLeague"
                }
              },
              "paging": {
                "$ref": "#/components/schemas/Paging"
              }
            },
            "required": [
              "data",
              "paging"
            ]
          }
        ]
      },
      "CreateMiniLeagueRequest": {
        "type": "object",
        "properties": {
          "fantasy_league_id": {
            "type": "integer",
            "minimum": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "enum": [
              "classic"
            ]
          }
        },
        "required": [
          "fantasy_league_id",
          "name",
          "type"
        ]
      },
      "Player": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "position": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "position": {
                "type": "string"
              },
              "abbrevation": {
                "type": "string"
              }
            }
          },
          "team": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "abbrevation": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "ownership": {
            "type": "number"
          },
          "team_ownership": {
            "type": "integer"
          },
          "transfers_in": {
            "type": "integer"
          },
          "transfers_out": {
            "type": "integer"
          },
          "points_per_game": {
            "type": "number"
          },
          "games_played": {
            "type": "integer"
          },
          "total_points": {
            "type": "number"
          },
          "form": {
            "type": "number"
          },
          "price": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "PaginatedPlayerResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Player"
                }
              },
              "paging": {
                "$ref": "#/components/schemas/Paging"
              }
            },
            "required": [
              "data",
              "paging"
            ]
          }
        ]
      },
      "PlayerStats": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "league_id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "form": {
            "type": "number"
          },
          "team": {
            "type": "string"
          },
          "team_short_name": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "points_per_game": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "weekly_stats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlayerWeekStat"
            }
          },
          "stats_total": {
            "$ref": "#/components/schemas/PlayerTotals"
          }
        },
        "additionalProperties": true
      },
      "PlayerWeekStat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "goals": {
            "type": "integer"
          },
          "saves": {
            "type": "integer"
          },
          "points": {
            "type": "number"
          },
          "result": {
            "type": "string",
            "enum": [
              "Win",
              "Loss",
              "Draw"
            ]
          },
          "assists": {
            "type": "integer"
          },
          "game_week": {
            "type": "string"
          },
          "red_cards": {
            "type": "integer"
          },
          "opposition": {
            "type": "string"
          },
          "bonus_points": {
            "type": "integer"
          },
          "clean_sheets": {
            "type": "integer"
          },
          "yellow_cards": {
            "type": "integer"
          },
          "games_started": {
            "type": "integer"
          },
          "penalty_saves": {
            "type": "integer"
          },
          "goals_conceded": {
            "type": "integer"
          },
          "minutes_played": {
            "type": "integer"
          },
          "penalty_missed": {
            "type": "integer"
          },
          "bonus_points_scores": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "PlayerTotals": {
        "type": "object",
        "properties": {
          "goals": {
            "type": "integer"
          },
          "saves": {
            "type": "integer"
          },
          "points": {
            "type": "number"
          },
          "assists": {
            "type": "integer"
          },
          "red_cards": {
            "type": "integer"
          },
          "bonus_points": {
            "type": "integer"
          },
          "clean_sheets": {
            "type": "integer"
          },
          "yellow_cards": {
            "type": "integer"
          },
          "games_started": {
            "type": "integer"
          },
          "goals_conceded": {
            "type": "integer"
          },
          "minutes_played": {
            "type": "integer"
          },
          "penalty_missed": {
            "type": "integer"
          },
          "bonus_points_scores": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "PlayerResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/PlayerStats"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "PlayerFixture": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "game_week": {
            "type": "string"
          },
          "opposition": {
            "type": "string"
          }
        }
      },
      "PlayerFixturesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PlayerFixture"
                }
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "PointsEvent": {
        "type": "object",
        "properties": {
          "fixture_id": {
            "type": "string",
            "format": "uuid"
          },
          "player_id": {
            "type": "integer"
          },
          "team_id": {
            "type": "integer"
          },
          "fantasy_league_id": {
            "type": "integer"
          },
          "event": {
            "type": "string"
          },
          "value": {
            "type": "integer"
          },
          "points": {
            "type": "number"
          }
        },
        "required": [
          "fixture_id",
          "player_id",
          "team_id",
          "fantasy_league_id",
          "event",
          "value",
          "points"
        ]
      },
      "PointsEventResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PointsEvent"
                }
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "PointsConfigRequest": {
        "type": "object",
        "properties": {
          "fantasy_league_id": {
            "type": "integer",
            "minimum": 1
          },
          "starter_points": {
            "type": "integer"
          },
          "bencher_points": {
            "type": "integer"
          },
          "goalkeeper_clean_sheet_points": {
            "type": "integer"
          },
          "defender_clean_sheet_points": {
            "type": "integer"
          },
          "midfielder_clean_sheet_points": {
            "type": "integer"
          },
          "forward_clean_sheet_points": {
            "type": "integer"
          },
          "goalkeeper_concede_points": {
            "type": "integer"
          },
          "defender_concede_points": {
            "type": "integer"
          },
          "midfielder_concede_points": {
            "type": "integer"
          },
          "forward_concede_points": {
            "type": "integer"
          },
          "goalkeeper_goal_points": {
            "type": "integer"
          },
          "defender_goal_points": {
            "type": "integer"
          },
          "midfielder_goal_points": {
            "type": "integer"
          },
          "forward_goal_points": {
            "type": "integer"
          },
          "goalkeeper_assist_points": {
            "type": "integer"
          },
          "defender_assist_points": {
            "type": "integer"
          },
          "midfielder_assist_points": {
            "type": "integer"
          },
          "forward_assist_points": {
            "type": "integer"
          },
          "yellow_card_points": {
            "type": "integer"
          },
          "red_card_points": {
            "type": "integer"
          },
          "sub_in_points": {
            "type": "integer"
          },
          "sub_out_points": {
            "type": "integer"
          },
          "own_goal_points": {
            "type": "integer"
          },
          "penalty_save_points": {
            "type": "integer"
          },
          "penalty_miss_points": {
            "type": "integer"
          },
          "goalkeeper_goal_concede_points": {
            "type": "number"
          },
          "defender_goal_concede_points": {
            "type": "number"
          },
          "midfielder_goal_concede_points": {
            "type": "number"
          },
          "forward_goal_concede_points": {
            "type": "number"
          },
          "minutes_played_points": {
            "type": "integer"
          },
          "goal_save_points": {
            "type": "integer"
          },
          "clean_sheet_eligibility_minutes": {
            "type": "integer",
            "minimum": 1,
            "maximum": 90
          },
          "time_onfield_eligibility_minutes": {
            "type": "integer",
            "minimum": 1,
            "maximum": 90
          },
          "goal_save_ratio": {
            "type": "integer"
          }
        },
        "required": [
          "fantasy_league_id",
          "starter_points",
          "bencher_points",
          "goalkeeper_clean_sheet_points",
          "defender_clean_sheet_points",
          "midfielder_clean_sheet_points",
          "forward_clean_sheet_points",
          "goalkeeper_concede_points",
          "defender_concede_points",
          "midfielder_concede_points",
          "forward_concede_points",
          "goalkeeper_goal_points",
          "defender_goal_points",
          "midfielder_goal_points",
          "forward_goal_points",
          "goalkeeper_assist_points",
          "defender_assist_points",
          "midfielder_assist_points",
          "forward_assist_points",
          "yellow_card_points",
          "red_card_points",
          "sub_in_points",
          "sub_out_points",
          "own_goal_points",
          "penalty_save_points",
          "penalty_miss_points",
          "goalkeeper_goal_concede_points",
          "defender_goal_concede_points",
          "midfielder_goal_concede_points",
          "forward_goal_concede_points",
          "minutes_played_points",
          "goal_save_points",
          "clean_sheet_eligibility_minutes",
          "time_onfield_eligibility_minutes",
          "goal_save_ratio"
        ]
      },
      "PointsConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PointsConfigRequest"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "fantasy_league_id": {
                "type": "integer"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "PointsConfigResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/PointsConfig"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "PriceUploadRequest": {
        "type": "object",
        "properties": {
          "fantasy_league_id": {
            "type": "integer",
            "minimum": 1
          },
          "prices": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "player_id": {
                  "type": "integer",
                  "minimum": 1
                },
                "price": {
                  "type": "number",
                  "minimum": 0
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "PRICE_ENTRY",
                    "PRICE_RISE",
                    "PRICE_FALL"
                  ]
                }
              },
              "required": [
                "player_id",
                "price",
                "type"
              ]
            }
          }
        },
        "required": [
          "fantasy_league_id",
          "prices"
        ]
      },
      "PriceUploadResult": {
        "type": "object",
        "properties": {
          "reference": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "reference",
          "count"
        ]
      },
      "PriceUploadResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/PriceUploadResult"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "PriceTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "txn_ref": {
            "type": "string"
          },
          "fantasy_league_id": {
            "type": "integer"
          },
          "txn_type": {
            "type": "string"
          },
          "player": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              }
            }
          },
          "game_week": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "week": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "PaginatedPriceResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PriceTransaction"
                }
              },
              "paging": {
                "$ref": "#/components/schemas/Paging"
              }
            },
            "required": [
              "data",
              "paging"
            ]
          }
        ]
      },
      "CreateSquadRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer",
            "minimum": 1
          },
          "name": {
            "type": "string",
            "minLength": 3
          },
          "fantasy_league_id": {
            "type": "integer",
            "minimum": 1
          },
          "players_in": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "integer",
              "minimum": 1
            }
          }
        },
        "required": [
          "user_id",
          "name",
          "fantasy_league_id",
          "players_in"
        ]
      },
      "SquadUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "type": "integer"
          },
          "external_id": {
            "type": "string"
          },
          "display_name": {
            "type": ["string", "null"]
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "SquadListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/SquadUser"
          },
          "fantasy_league": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "is_active": {
                "type": "boolean"
              }
            }
          }
        },
        "additionalProperties": true
      },
      "PaginatedSquadResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SquadListItem"
                }
              },
              "paging": {
                "$ref": "#/components/schemas/Paging"
              }
            },
            "required": [
              "data",
              "paging"
            ]
          }
        ]
      },
      "SquadSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "fantasy_league_id": {
            "type": "integer"
          },
          "external_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "SquadSummaryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/SquadSummary"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "FantasyTeam": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "league": {
            "$ref": "#/components/schemas/LeagueSummary"
          },
          "contest": {
            "$ref": "#/components/schemas/ContestSummary"
          },
          "ranking": {
            "$ref": "#/components/schemas/RankingSummary"
          },
          "game_week": {
            "$ref": "#/components/schemas/GameWeek"
          },
          "finance": {
            "$ref": "#/components/schemas/FinanceSummary"
          },
          "chips": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chip"
            }
          },
          "mini_leagues": {
            "type": "integer"
          },
          "free_transfers": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "Chip": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "chip": {
            "type": "string"
          },
          "is_available": {
            "type": "boolean"
          },
          "date_activated": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "game_week_played": {
            "type": ["string", "null"]
          }
        },
        "additionalProperties": true
      },
      "LeagueSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "ContestSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "RankingSummary": {
        "type": "object",
        "properties": {
          "current_rank": {
            "type": "integer"
          },
          "game_week_points": {
            "type": "number"
          },
          "total_points": {
            "type": "number"
          },
          "game_week": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "FinanceSummary": {
        "type": "object",
        "properties": {
          "money_spent": {
            "type": "number"
          },
          "squad_value": {
            "type": "number"
          },
          "money_in_bank": {
            "type": "number"
          },
          "budget": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "SquadResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "user": {
                    "$ref": "#/components/schemas/SquadUser"
                  },
                  "fantasy_league": {
                    "$ref": "#/components/schemas/LeagueSummary"
                  },
                  "contest": {
                    "$ref": "#/components/schemas/ContestSummary"
                  },
                  "ranking": {
                    "$ref": "#/components/schemas/RankingSummary"
                  },
                  "game_week": {
                    "$ref": "#/components/schemas/GameWeek"
                  },
                  "finance": {
                    "$ref": "#/components/schemas/FinanceSummary"
                  },
                  "chips": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Chip"
                    }
                  },
                  "free_transfers": {
                    "type": "integer"
                  },
                  "mini_leagues": {
                    "type": "integer"
                  }
                },
                "additionalProperties": true
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "SquadLineup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/SquadUser"
          },
          "game_week": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "week": {
                "type": "string"
              },
              "start_date": {
                "type": "string",
                "format": "date-time"
              },
              "end_date": {
                "type": "string",
                "format": "date-time"
              },
              "next_game_week": {
                "type": ["string", "null"]
              },
              "previous_game_week": {
                "type": ["string", "null"]
              }
            }
          },
          "squad": {
            "type": "object",
            "properties": {
              "bench": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SquadPlayer"
                }
              },
              "starting_xi": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SquadPlayer"
                }
              }
            }
          },
          "transfer_hits": {
            "type": "object",
            "properties": {
              "hits": {
                "type": "integer"
              },
              "points_deduction": {
                "type": "number"
              }
            }
          },
          "chip_selected": {
            "type": ["object", "null"],
            "additionalProperties": true
          },
          "chips": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chip"
            }
          },
          "total_points": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "SquadPlayer": {
        "type": "object",
        "properties": {
          "team": {
            "$ref": "#/components/schemas/FixtureTeam"
          },
          "player": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "last_name": {
                "type": ["string", "null"]
              },
              "first_name": {
                "type": ["string", "null"]
              }
            }
          },
          "position": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "position": {
                "type": "string"
              },
              "abbrevation": {
                "type": "string"
              }
            }
          },
          "breakdown": {
            "type": "object",
            "additionalProperties": true
          },
          "is_starting": {
            "type": "boolean"
          },
          "is_captain": {
            "type": "boolean"
          },
          "is_vice_captain": {
            "type": "boolean"
          },
          "points": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "SquadLineupResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/SquadLineup"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "AutoSubstitutionRequest": {
        "type": "object",
        "properties": {
          "fantasy_league_id": {
            "type": "integer",
            "minimum": 1
          },
          "game_week_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "fantasy_league_id",
          "game_week_id"
        ]
      },
      "AutoSubstitutionResult": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "events": {
            "type": "integer"
          }
        },
        "required": [
          "message",
          "code",
          "events"
        ]
      },
      "AutoSubstitutionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/AutoSubstitutionResult"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "AutoSubstitutionEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "squad": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "player": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              }
            }
          },
          "txn_type": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "txn_ref": {
            "type": "string"
          },
          "lineup_order": {
            "type": "integer"
          },
          "is_captain": {
            "type": "boolean"
          },
          "is_vice_captain": {
            "type": "boolean"
          },
          "is_starting": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "PaginatedAutoSubstitutionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AutoSubstitutionEvent"
                }
              },
              "paging": {
                "$ref": "#/components/schemas/Paging"
              }
            },
            "required": [
              "data",
              "paging"
            ]
          }
        ]
      }
    }
  }
}
